<!DOCTYPE html>
<html lang="en">
    <head>
        <title> AKPsi - Omega Psi: Alumni Portal </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Alumni Portal">
        <meta name="author" content="Mukund Raghav Sharma">
        <link rel="icon" href="{{STATIC_URL}}/socialnetwork/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/Alumni/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/Alumni/css/style.css">
        <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
    </head>
    <body role="document">
        {% block content %}
        {% endblock %}
    </body>
</html>
