{% extends "Alumni/navbar.html" %}

{% block file %}
    {% load staticfiles %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-style">
            <li><a class="hov" ref="/search"> Search </a></li>
            <li><a href="/home/"> Home </a></li>
            <li><a href="/"> Gallery </a></li>
            <li><a href="/"> Family Trees </a></li>
            <li><a href="/"> Donations </a></li>
            <li><a href="/logout/"> Logout </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="jumbotron">
        <div class="jumbotron" id="post_gallery">
            {% csrf_token %}
            {% if errors %}
                {% for error in errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endif %}
            {% if alumni %}
            {% for alumn in alumni %}
                <div class="well">
                    <p> First Name: {{ alumn.user.first_name}} </p> 
                    <p> Last Name: {{ alumn.user.last_name}} </p> 
                    <p> Employer: {{ alumn.employer }} </p> 
                    <p> Current City: {{ alumn.current_city }} </p> 
                    <p> Email: {{ alumn.user.email }} </p> 
                    <p> Graduation Year: {{ alumn.graduation_year }} </p> 
                    <p> Hometown: {{ alumn.hometown }} </p> 
                    <p> Pledge Class: {{ alumn.pledge_class }}</p> 
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
