{% extends "Alumni/navbar.html" %}

{% block file %}
    {% load staticfiles %}
            {% if class_based_view %}
                {% for class in class_based_view %}
                    {% if not  forloop.first %}
                        {% with class|first as first_member %}
                            <div class="row">
                                <h1 class="class-name" ><a name="{{ first_member.pledge_class.name }}"> {{ first_member.pledge_class.name }} Class </a> </h1>
                                <h3 class="class-date"> {{ first_member.pledge_class.season }} {{ first_member.pledge_class.year }} </h3>
                            </div>
                        {% endwith %}

                        {% for alum in class %}
                                {% if forloop.counter|divisibleby:3 or forloop.first %}
                                    <div class="row">
                                {% endif %}
                                    <div class="col-md-4">
                                        {% if alum.picture %}
                                            <div class="center-block">
                                                    <div class="ih-item circle colored effect3 left_to_right">
                                                        <a class="gallery-hover" href="/profile/{{ alum.id }}">
                                                            <div class="img">
                                                                <div class="imgLiquidFill imgLiquid" id="cropped" style="width:220px; height:220px;">
                                                                    <img src="{{ alum.picture.url }}">
                                                                </div>
                                                            </div>
                                                            <script type="text/javascript">
                                                                $(document).ready(function() {
                                                                    $(".imgLiquidFill").imgLiquid();
                                                                });
                                                                $('#full_name').each(function() {
                                                                    var o_height = $(this).height();
                                                                    $(this).css('margin-top', (($('#dp').height()-o_height)/2));

                                                                });

                                                            </script>
                                                        <div class="info">
                                                            <p class="first-show"><i class="fa fa-briefcase fa-fw"></i> &nbsp;{{ alum.employer }}</p>
                                                            <p class="other-show"><i class="fa fa-book fa-fw"></i> &nbsp;{{ alum.major }}</p>
                                                            <p class="other-show"><i class="fa fa-graduation-cap fa-fw"></i> &nbsp;{{ alum.graduation_class }}</p>
                                                            <p class="other-show"><i class="fa fa-map-marker fa-fw"></i> &nbsp;Chicago, IL</p>



                                                        </div>
                                                        </a>
                                                    </div>
                                        {% endif %}
                                            <h1 class="gallery-name"> {{ alum.user.first_name }} {{ alum.user.last_name }}</h1>
                                            </div>
                                            <span class="icon-center">
                                                <a href="https://www.facebook.com"><i class="fa fa-facebook-square" id="facebook-icon"></i></a>
                                                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" id="linkedin-icon"></i></a>
                                                <a href="mailto:{{ alum.user.email }}"><i class="fa fa-envelope-square" id="email-icon"></i></a>
                                                <a href="tel:+1{{ alum.phone }}"><i class="fa fa-phone-square" id="phone-icon"></i></a>
                                            </span>
                                {% if forloop.counter|divisibleby:3 and forloop.counter != 1 or forloop.last %}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="scroll-top-wrapper ">
                                <a href="#Beta"
                                <span class="scroll-top-inner">
                                    <i class="fa fa-2x fa-arrow-circle-up"></i>
                                </span>
                                </a>
                            </div>
                            <div class="scroll-bottom-wrapper ">
                                <a href="#Theta">
                                <span class="scroll-top-inner">
                                    <i class="fa fa-2x fa-arrow-circle-down"></i>
                                </span>
                                </a>
                            </div>

                {% endfor %}
                {% endif %}
            {% endfor %}
            {% endif %}
{% endblock %}
