{% extends "Alumni/navbar.html" %}

{% block file %}
    {% load staticfiles %}
    <div class="well">
        <form action="." method="post">
            <input type="text" name="post" placeholder="Enter your post here:">
            <input type="submit" text="Post">
    </div>
    <div class="jumbotron">
        {% csrf_token %}
        {% if alumni %}
            {% for alumn in alumni %}
            <div class="well">
                <p> {{ alumn.user.first_name }} </p>
                <p> {{ alumn.user.last_name }} </p>
                <p> {{ alumn.employer }} </p>
                <p><a href="/profile/{{ alumn.user.id }}"> {{ alumn.user.first_name }} {{ alumn.user.last_name }} </a></p>
            </div>
             {% endfor %}
         {% endif %}
    </div>
{% endblock %}
