{% extends "Alumni/base.html" %}

{% block content %}
    {% load staticfiles %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <li><a href="/search"> Search </a></li>
          <a href="/home/" class="navbar-brand"> Home </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"> Gallery </a></li>
            <li><a href="/"> Family Trees </a></li>
            <li><a href="/"> Donations </a></li>
            <li><a href="/logout/"> Logout </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="well">
        <form action="." method="post">
            <input type="text" name="post" placeholder="Enter your post here:">
            <input type="submit" text="Post">
    </div>
    <div class="jumbotron">
        <h3 class="form-signin-heading"> Alumni Information </h3> 
        {% csrf_token %}
        {% if errors %}
            {% for error in errors %}
                <p> {{ error }} </p>
            {% endfor %}
        {% endif %}
        {% if alumni %}
            {% for alumn in alumni %}
                    <div class="well">
                        <p> Name: {{ alumn.user.first_name }} {{ alumn.user.last_name }} </p>
                        <p> Employer: {{ alumn.employer }} </p>
                        <p> Current City: {{ alumn.current_city }} </p>
                        <p> Email: {{ alumn.user.email }} </p>
                        <p> Phone: {{ alumn.phone }} </p>
                        <p> Major: {{ alumn.major }} </p>
                        <p> Graduation Class: {{ alumn.graduation_class }} </p>
                        <p> Hometown: {{ alumn.hometown }} </p>
                        <p> Pledge Class: {{ alumn.pledge_class }} </p>
                        <a href="/profile/{{ alumn.user.id }}">
                            {{ alumn.user.first_name }} {{ alumn.user.last_name }}
                        </a>
                    </p>            
               </div>
            {% endfor %}
        {% endif %}}
    </div>
{% endblock %}
