{% extends "Alumni/navbar.html" %}

{% block file %}
    {% load staticfiles %}

    <div class="jumbotron">
        <div class="jumbotron" id="post_gallery">
            {% csrf_token %}
            {% if errors %}
                {% for error in errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="span4">
                    <img src="{{ STATIC_URL }}/Alumni/images/{{ file_name }}" class="img-circle">
                </div>
                <div class="span2">
                    <h2 class="name"> {{ alumni.user.first_name }} {{ alumni.user.last_name }} </h2>
                </div>
            </div>
            {% if alumni %}
                <div class="well">
                    <p> Employer: {{ alumni.employer }} </p> 
                    <p> Current City: {{ alumni.current_city }} </p> 
                    <p> Email: {{ alumni.user.email }} </p> 
                    <p> Graduation Year: {{ alumni.graduation_year }} </p> 
                    <p> Hometown: {{ alumni.hometown }} </p> 
                    <p> Pledge Class: <a href="/class/{{ alumni.pledge_class }}"</p> {{ alumni.pledge_class }} </p> 
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
