{% extends "Alumni/navbar.html" %}

{% block file %}
    {% load staticfiles %}
        <div class="row">
            <div class="col-md-4" id="dp">
                    <div class="imgLiquidFill imgLiquid" id="cropped" style="width:225px; height:225px;">
                        <img src="{{ STATIC_URL }}/Alumni/images/{{ file_name }}">
                    </div>
                <!-- <img  class="thumb1" style="background: url({{ STATIC_URL }}/Alumni/images/{{ file_name }}) 50% 50% no-repeat;"> -->
            </div>
            <div class="col-md-8" id="full_name">
                <h1 class="name"> {{ alumni.user.first_name }} {{ alumni.user.last_name }} </h1>
                <h3 class="nickname"> Nickname </h3>
            </div>
        </div>
        <div class="row" id="row_2">
            <div class="col-md-4">
                    <ul class="list-group">
                        {% if alumni %}
                            <!-- <div class="well">
                                <p> Employer: {{ alumni.employer }} </p> 
                                <p> Current City: {{ alumni.current_city }} </p> 
                                <p> Email: {{ alumni.user.email }} </p> 
                                <p> Graduation Year: {{ alumni.graduation_year }} </p> 
                                <p> Hometown: {{ alumni.hometown }} </p> 
                                <p> Pledge Class: <a href="/class/{{ alumni.pledge_class }}"</p> {{ alumni.pledge_class }} </p> 
                            </div> -->
                            <li class="list-group-item" id="overview-heading">Overview</li>
                           <!--  <li class="list-group-item" id="overview-second">
                                <span class="overview-icon">N</span>
                                <span class="overview-text">Pledged with the <a href="/class/{{ alumni.pledge_class }}">{{ alumni.pledge_class }}</a></span>
                            </li>
                            <li class="list-group-item">
                                <span class="overview-icon">13</span>
                                <span class="overview-text">Graudated in the class of 2013</span>
                            </li>
                            <li class="list-group-item">
                                <span class="overview-icon">R</span>
                                <span class="overview-text">Majored in Business Administration</span>
                            </li> -->
                            <li class="list-group-item">
                                <div class="media">
                                  <div class="media-left media-middle">
                                      <span class="overview-icon">N</span></span>
                                  </div>
                                  <div class="media-body">
                                    <span class="overview-text">Pledged with the <a href="/class/{{ alumni.pledge_class }}">{{ alumni.pledge_class }}</a></span>
                                  </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                  <div class="media-left media-middle">
                                      <span class="overview-icon">R</span></span>
                                  </div>
                                  <div class="media-body">
                                    <span class="overview-text">Part of the Roc-a-fellas family</span>
                                  </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                  <div class="media-left media-middle">
                                      <span class="overview-icon">13</span></span>
                                  </div>
                                  <div class="media-body">
                                    <span class="overview-text">Graduated in the class of 2013</span>
                                  </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                  <div class="media-left media-middle">
                                      <span class="overview-icon"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></span>
                                  </div>
                                  <div class="media-body">
                                    <span class="overview-text">Majored in Business Administration</span>
                                  </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media">
                                  <div class="media-left media-middle">
                                      <span class="overview-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
                                  </div>
                                  <div class="media-body">
                                    <span class="overview-text">Majored in Business Administration</span>
                                  </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                <!-- <img  class="thumb1" style="background: url({{ STATIC_URL }}/Alumni/images/{{ file_name }}) 50% 50% no-repeat;"> -->
            </div>
            <div class="col-md-8">
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".imgLiquidFill").imgLiquid();
            });
            $('#full_name').each(function() {
                var o_height = $(this).height();
                $(this).css('margin-top', (($('#dp').height()-o_height)/2));

            });
        </script>
            {% if alumni %}
                <!-- <div class="well">
                    <p> Employer: {{ alumni.employer }} </p> 
                    <p> Current City: {{ alumni.current_city }} </p> 
                    <p> Email: {{ alumni.user.email }} </p> 
                    <p> Graduation Year: {{ alumni.graduation_year }} </p> 
                    <p> Hometown: {{ alumni.hometown }} </p> 
                    <p> Pledge Class: <a href="/class/{{ alumni.pledge_class }}"</p> {{ alumni.pledge_class }} </p> 
                </div> -->
            {% endif %}
{% endblock %}
