{% extends "Alumni/form_wrapper.html" %}

{% block shit %}
      <div id="loader">

        <div class="signup-title">
          Personal Information
        </div>
        <form action='/signin_2' class="form-horizontal" id="signup-form-background" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {% if alumni.picture %}
            <div class="imgLiquidFill imgLiquid img-size center-block padded" id="cropped">
              <img src="{{ alumni.picture.url }}"> 
            </div>
            <script type="text/javascript">
              $(".imgLiquidFill").imgLiquid();
            </script>
         {% endif %}
         {% load cropping %}
          {% for field in form %}
              {% if field.errors %}
                <div class="form-group">
                  <div class="col-sm-12">
                      <div class="input-group has-error">
                        {{ field }}
                        <div class="input-group-addon"><i class="fa fa-exclamation-circle"></i></div>
                      </div>
                    <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                  </div>
                </div>
                {% for error in field.errors %}
                  <div class="form-group" id="error-text">
                    <div class="col-sm-12">
                              {{ error }}
                      <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="form-group">
                  <div class="col-sm-12">
                      {{ field }}
                    <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                  </div>
                </div>
              {% endif %}
          {% endfor %}


            <div class="form-group" id="b-row">
              <div class="col-sm-offset-8 col-sm-4">
                <button  id="page_1_right" class="next-button-right">Next&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
        </form>
        <div class="row position-row">
          <div class="col-sm-offset-4 col-xs-offset-4 col-sm-4 col-xs-4 text-center baubles">
            <span class="bauble"><i class="fa fa-circle"></i></span>
            <span class="bauble"><i class="fa fa-circle-o"></i></span>
            <span class="bauble"><i class="fa fa-circle-o"></i></span>
          </div>
        </div>
      </div>
{% endblock %}
