{% extends "Alumni/navbar.html" %}

{% block file %}
        {% load staticfiles %}
        <div class="well signin">
            {% if form.errors %}
                <p> Incorrect Username/Password </p>
            {% endif %}
            <form class="form-signin" method="post" action="{% url 'signin' %}">
               {% csrf_token %}
               {{ form }}
                <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block padded">
                <input type="hidden" name="next" value="/dashboard/"/>
                <a href="/signup/" class="rememberme">
                    New User? Sign up here.
                </a>
           </form>
            <div class="checkbox">
            </div>
        </div>
{% endblock %}