{% extends "Alumni/form_wrapper.html" %}


{% block shit %}
      <div id="loader">

        <div class="signup-title">
          Employment Information
        </div>
        <form class="form-horizontal" id="signup-form-background" method="post">
         {% csrf_token %}

          <div class="form-group">
            <div class="col-sm-12">
                {{ form.current_employer }}
              <!--input type="text" class="form-control" id="" placeholder="First Name"-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
                {{ form.role }}
              <!--input type="text" class="form-control" id="" placeholder="Last Name"-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
                {{ form.current_city }}
              <!--input type="email" class="form-control" id="" placeholder="Email"-->
            </div>
          </div>
        </form>
        <div class="row" id="position-row">
          <div class="form-group" id="button-row">
            <div class=" col-sm-4">
              <button type="submit" id="page_3_left" class="next-button-left" page="/signin_3 #loader" ><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Prev</button>
            </div>
            <div class="col-sm-offset-4 col-sm-4">
              <button type="submit" id="page_3_right" class="next-button-right" page="/signin_3 #loader">Next&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </div>
        <div class="row" id="position-row">
          <div class="col-sm-4" id="position-one">
            <div class="numberCircle">1</div>
          </div>
          <div class="col-sm-4" id="position-one">
            <div class="numberCircle">2</div>
          </div>
          <div class="col-sm-4" id="position-done">
            <div class="numberCircle">3</div>
          </div>
        </div>
      </div>


{% endblock %}
