{% extends "Alumni/form_wrapper.html" %}

{% block shit %}
      <div id="loader">

        <div class="signup-title">
          Personal Information
        </div>
        <form action='/signin_2' class="form-horizontal" id="signup-form-background" method="post">
         {% csrf_token %}
         {% if alumni.picture %}
             <img src="{{ alumni.picture.url }}" width="40%"> 
         {% endif %}
          <div id="yourId"></div>
         {% load cropping %}
          {% for field in form %}
              {% if field.errors %}
                <div class="form-group">
                  <div class="col-sm-12">
                      <div class="input-group has-error">
                        {{ field }}
                        <div class="input-group-addon"><i class="fa fa-exclamation-circle"></i></div>
                      </div>
                    <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                  </div>
                </div>
                {% for error in field.errors %}
                  <div class="form-group" id="error-text">
                    <div class="col-sm-12">
                        
                              {{ error }}
                      <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="form-group">
                  <div class="col-sm-12">
                      {{ field }}
                    <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                  </div>
                </div>
              {% endif %}
          {% endfor %}


            <div class="form-group" id="button-row">
              <div class="col-sm-offset-8 col-sm-4">
                <button  id="page_1_right" class="next-button-right" page="/signin_3 #loader">Next&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
        </form>

        <div class="row" id="position-row">
          <div class="col-sm-4" id="position-one">
            <div class="numberCircle">1</div>
          </div>
          <div class="col-sm-4" id="position-two">
            <div class="numberCircle-other">2</div>
          </div>
          <div class="col-sm-4" id="position-three">
            <div class="numberCircle-other">3</div>
          </div>
        </div>
      </div>
{% endblock %}
