{% extends "Alumni/navbar.html" %}

{% block file %}
        {% load staticfiles %}
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand"> AKPsi - Omega Psi: Alumni Portal </a>
            </div>
          </div>
        </nav>
        <div class="well signin">
            {% if form.errors %}
                <p> Incorrect Username/Password </p>
            {% endif %}
            <h2 class="form-signin-heading">
                Sign in 
            </h4>
            <form class="form-signin" method="post" action="django.contrib.auth">
               {% csrf_token %}
               {{ form.as_table }}
               <a href="{% url 'socialauth_begin' 'github' %}">Login with GitHub</a>
                <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block padded">
                <input type="hidden" name="next" value="/home/"/>
                <a href="/signup/" class="rememberme">
                    New User? Sign up here.
                </a>
           </form>
            <div class="checkbox">
            </div>
        </div>
{% endblock %}
