{% extends "Alumni/base.html" %}

{% block content %}
    <body class="landing">
        <div class="site-wrapper">
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="inner cover">
                    <div class="row text-center">
                        <img src="/static/Alumni/images/AKY_Logo.png">
                    </div>
                    <div class="row text-center">
                        <button  name="button" class="landing"> Sign In </button>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </body>
{% endblock %}
