{% extends "Alumni/base.html" %}

{% block content %}
    <body class="landing">
        <div class="site-wrapper">
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="inner cover">
                    <div class="row text-center">
                        <img src="{{ STATIC_URL }}Alumni/images/AKY_Logo.png">
                    </div>
                    <div class="row text-center">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div id="signup" class="landing">Enter</div>
                            <h3 id="message" style="color:#F8E26C;display:none">
                            <input style="color:black;width: 158px;height: 52px;" placeholder="Your Code" type="text" name="confirmation"> 
                            </h3>
                            <!-- <div></div> -->
                            
                            <button id="submit" type="submit" style="display:none" onclick="this.style.visibility='hidden;'" name="button" class="landing"> Submit</button>
                            <span>
                            </span>
                        </form>
                    </div>
                    <script type="text/javascript">
                        $( "#signup" ).click(function() {
                            $("#submit").show();
                            $("#message").show();
                            $("#signup").hide();
                        });
                    </script>
              </div>
            </div>
          </div>
        </div>
    </body>
{% endblock %}
