{% extends "Alumni/base.html" %}

{% block content %}
    <body class="landing">
        <div class="site-wrapper">
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="inner cover">
                    <div class="row text-center">
                        <img src="{{ STATIC_URL }}Alumni/images/AKY_Logo.png">
                    </div>
                    <div class="row text-center">
                        <div id="register" class="landing register">Register</div>
                        <div class="line"><span>Or</span></div>
                        <div id="signup" class="landing signup">Sign In</div>
                        <form class="form-horizontal" action="" method="post">
                            <div class="form-group">
                                {% csrf_token %}
                                <input class="code" placeholder="Enter Your Code" type="text" name="confirmation"> 
                                <button id="submit" type="submit" style="display:none" onclick="this.style.visibility='hidden;'" name="button" class="landing signup"> Submit</button>
                            </div>
                        </form>
                        <br>
                        <a id="code-back" class="back"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
                        

                        <form action="" method="post">
                            {% csrf_token %}
                            <input class="user" placeholder="Username" type="text" name="username">
                            <br>
                            <input class="pass" placeholder="Password" type="password" name="password"> 
                            <button id="login" type="submit" style="display:none" onclick="this.style.visibility='hidden;'" name="button" class="landing signup"> Login</button>
                        </form>
                        <br>
                        <a id="login-back" class="back"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>


                    </div>
                    <script type="text/javascript">
                        $( ".register" ).click(function() {

                            $("#submit").show();
                            $(".code").show();
                            $("#code-back").show();
                            $("#signup").hide();
                            $("#register").hide();
                            $(".line").hide();

                        });
                        $( "#signup" ).click(function() {

                            $("#submit").hide();
                            $(".pass").show();
                            $(".user").show();
                            $("#login").show();
                            $("#login-back").show();
                            $("#signup").hide();
                            $("#register").hide();
                            $(".line").hide();

                        });

                        $( ".back" ).click(function() {

                            $(".register").show();
                            $(".signup").show();
                            $(".line").show();
                            $(".pass").hide();
                            $(".user").hide();
                            $("#login").hide();
                            $("#submit").hide();
                            $(".code").hide();
                            $("#code-back").hide();
                            $("#login-back").hide();

                        });

                    </script>
              </div>
            </div>
          </div>
        </div>
    </body>
{% endblock %}
