{% extends "Alumni/form_wrapper.html" %}

{% block shit %}
      <div id="loader">
        <div class="signup-title">
          CMU & AKPsi History
        </div>
        <form class="form-horizontal" id="signup-form-background" method="post" action="/signup3/">
         {% csrf_token %}
          <div class="form-group">
            <div class="col-sm-12">
                {{ form.major }}
              <!--input type="text" class="form-control" id="" placeholder="First Name"-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
                {{ form.graduation_year }}
              <!--input type="text" class="form-control" id="" placeholder="First Name"-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
                {{ form.hometown }}
              <!--input type="text" class="form-control" id="" placeholder="Last Name"-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
                {{ form.phone }}
              <!--input type="email" class="form-control" id="" placeholder="Email"-->
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-12">
                  {{ form.pledge_class }}
                <!--input type="password" class="form-control" id="" placeholder="Password"-->
              </div>
          </div>
        <div class="row" id="position-row">
          <div class="form-group" id="button-row">
            <div class=" col-sm-4">
              <button  id="page_2_left" class="next-button-left" page="/signup2/ #loader"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Prev</button>
            </div>
            <div class="col-sm-offset-4 col-sm-4">
              <button type="submit" id="page_2_right" class="next-button-right" page="/signup4/ #loader">Next&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
        </form>
            </div>
          </div>
        </div>
        <div class="row" id="position-row">
          <div class="col-sm-4" id="position-one">
            <div class="numberCircle">1</div>
          </div>
          <div class="col-sm-4" id="position-one">
            <div class="numberCircle">2</div>
          </div>
          <div class="col-sm-4" id="position-three">
            <div class="numberCircle-other">3</div>
          </div>
        </div>
      </div>
{% endblock %}
