{% extends "Alumni/form_wrapper.html" %}


{% block shit %}

        <div class="signup-title">
          Employment Information
        </div>
        <form action='/signin_4' class="form-horizontal" id="signup-form-background" method="post">
         {% csrf_token %}
          {% for field in form %}
              {% if field.errors %}
                <div class="form-group">
                  <div class="col-sm-12">
                      <div class="input-group has-error">
                        {{ field }}
                        <div class="input-group-addon"><i class="fa fa-exclamation-circle"></i></div>
                      </div>
                    <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                  </div>
                </div>
                {% for error in field.errors %}
                  <div class="form-group" id="error-text">
                    <div class="col-sm-12">
                              {{ error }}
                      <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="form-group">
                  <div class="col-sm-12">
                      {{ field }}
                    <!--input type="text" class="form-control" id="" placeholder="First Name"-->
                  </div>
                </div>
              {% endif %}
          {% endfor %}

            <div class="form-group" id="button-row">
              <div class=" col-sm-4">
                <button type="button" id="page_3_left" href="/signin_3" class="next-button-left"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;Prev</button>
              </div>
              <div class="col-sm-offset-4 col-sm-4">
                <button  id="page_3_right" class="next-button-right">Next&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
              </div>
            </div>
        </form>
        <div class="row position-row">
          <div class="col-sm-offset-4 col-xs-offset-4 col-sm-4 col-xs-4 text-center baubles">
            <span class="bauble"><i class="fa fa-circle"></i></span>
            <span class="bauble"><i class="fa fa-circle"></i></span>
            <span class="bauble"><i class="fa fa-circle"></i></span>
          </div>
        </div>
      </div>
{% endblock %}
