html,
body {
  height: 100%;
  font-family: 'Lato', serif;
}



.navbar-collapse {
    background-color: #2a3856;
    font-family: 'Gill Sans';
    font-color: white;
}

a:hover {
    background-color: #223355;
}



.landing {
	background-repeat: no-repeat;
	background-color: #2a3856;
	background-attachment: fixed;
	background-position:50% 50%;  /* Sets reference point to scale from */
	background-size:cover;
}


.landing button {
	text-transform: uppercase;
	font-weight: lighter;
	margin-top: 40px;
	color: #FDE57e;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  color: #fde573;
	  font-size: 20px;
	  padding: 10px 40px 10px 40px;
	  border: solid #fde57e 2px;
	  vertical-align: middle;

}

.landing button:hover {
		font-weight: lighter;
		text-transform: uppercase;
	  text-decoration: none;
	  background-color: #fde57e;
	  color: #000; 
	}

/*
 * Globals
 */


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}




/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: center;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #516182 !important;
  color: #fff !important;
}

.nav > li > a {
  color: #fff !important;
}

.navbar-default {
	background-color: #2a3856 !important;
	border-color: #2a3856 !important;
}

.username {
	margin-left: 7px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}

.input-group {
	display: table !important;
}

.input-group-addon {
	width: 1% !important;
}

.navbar {
  margin-bottom: 50px;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}

.imgLiquid {
	border-radius: 50%;
	border-color: #2a3856;
	border-color: #2a3856;
	border-width: 2px;
	border-style: solid;
}

.name {
	color: #2a3856;
	font-size: 50px;
}

.nickname {
	color: #516182;
	font-style: italic;
	margin-top: 0px;
}

#row_2 {
	margin-top: 10px;
}

#overview-heading {
	background-color: #2a3856;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	font-size: 15px;
	border-radius: 0px;
	margin-bottom: 5px;
}

.overview-icon {
	background-color: #516182;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	color: #fff;
	display: table-cell;
}

.overview-text {
	display: table-cell;
	padding-left: 15px;
}

#overview-second {
	margin-top: 0px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px 0px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #fff;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	margin-left: 15px;
	 border: 0px solid transparent; 
	 border-radius: 0px; 
	 -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05); 
	 box-shadow: 0 0px 0px rgba(0, 0, 0, .05); 

}

.panel-heading {
	color: #fff;
	background-color: #2a3856;
	padding: 5px 15px;
	border-radius: 0px;
	border-bottom: 0px;
	text-align: center;
	font-variant: small-caps;
}

.employer-heading {
	font-size: 28px;
	margin-top: 10px;
	color: #2a3856;
}

.employer-role {
	color: #516182;
	margin-top: 10px;
}

.employer-location{
	color: #516182;
}

.bio-body {
	font-size: 16px;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: rgb(34, 51, 85);
	color: #fff;
	text-decoration: underline;
}

#facebook-icon {
	font-size: 30px;
	color: #3B5998;
}

#facebook-icon:hover {
	color: #2a3856;
}

#linkedin-icon {
	color: #517fa4;
	font-size: 30px;
}

#linkedin-icon:hover {
	color: #2a3856;
}

#phone-icon {
	font-size: 30px;
	color: #815837;
}

#phone-icon:hover {
	color: #2a3856;
}

#email-icon {
	font-size: 30px;
	color: #727D36;

}

#email-icon:hover {
	color: #2a3856;
}

#overview-icons {
	margin: 5px 0px;
	padding: 0px;
	margin-top: 15px;
}

#overview-icons a:hover {
	background-color: transparent;
}


.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 16px;
  border-bottom: 1px solid #2a3856;
  top: 0;
  width: 52px;
}
.fancy span:before {
  right: 100%;
  margin-right: 10px;
}
.fancy span:after {
  left: 100%;
  margin-left: 10px;
}
