html,
body {
  height: 100%;
  font-family: 'Lato', serif;
}



.navbar-collapse {
    background-color: #223355;
    font-family: 'Gill Sans';
    font-color: white;
}

a:hover {
    background-color: #223355;
}

.name {
    text-align: center;
}
.img-circle {
    padding-left: 40%
    border-style: solid;
}

.landing {
	background-repeat: no-repeat;
	background-color: #2a3856;
	background-attachment: fixed;
	background-position:50% 50%;  /* Sets reference point to scale from */
	background-size:cover;
}


.landing button {
	text-transform: uppercase;
	font-weight: lighter;
	margin-top: 40px;
	color: #FDE57e;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  color: #fde573;
	  font-size: 20px;
	  padding: 10px 40px 10px 40px;
	  border: solid #fde57e 2px;
	  vertical-align: middle;

}

.landing button:hover {
		font-weight: lighter;
		text-transform: uppercase;
	  text-decoration: none;
	  background-color: #fde57e;
	  color: #000; 
	}

/*
 * Globals
 */


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}




/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: center;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #516182 !important;
  color: #fff !important;
}

