.navbar-collapse {
    background-color: #223355;
    font-family: 'Gill Sans';
    font-color: white;
}

a:hover {
    background-color: #223355;
}

.name {
    text-align: center;
}
.img-circle {
    padding-left: 40%
    border-style: solid;
}
