html,
body {
  height: 100%;
  font-family: 'Lato', serif;
}



.navbar-collapse {
    background-color: #2a3856;
    font-family: 'Gill Sans';
    font-color: white;
}

a:hover {
    background-color: #223355;
}



.landing {
	background-repeat: no-repeat;
	background-color: #2a3856;
	background-attachment: fixed;
	background-position:50% 50%;  /* Sets reference point to scale from */
	background-size:cover;
}


.landing button {
	text-transform: uppercase;
	font-weight: lighter;
	margin-top: 40px;
	color: #FDE57e;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  color: #fde573;
	  font-size: 20px;
	  padding: 10px 40px 10px 40px;
	  border: solid #fde57e 2px;
	  vertical-align: middle;

}

.landing button:hover {
		font-weight: lighter;
		text-transform: uppercase;
	  text-decoration: none;
	  background-color: #fde57e;
	  color: #000; 
	}

.signup-background {
	background-repeat: no-repeat;
	background-image: url(../images/drinking_landing.jpg);
	background-attachment: fixed;
	background-position:50% 50%;  /* Sets reference point to scale from */
	background-size:cover;
	z-index: -1;
}

#signup-position {
	position: relative;
	  top: 50%;
	  left: 50%;
	  /* bring your own prefixes */
	  transform: translate(-50%, -50%);

	
}

.signup-title {
	background-color: #2a3856;
	color: #fff;
	text-align: center;
	font-size: 30px;
	border-radius: 0px;
	-webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.8);
	box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.8);
}

#signup-form-background {
	background-color: #fff;
	padding: 30px 30px 0px 30px;
	-webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.8);
	box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.8);
	padding-bottom: 10px;
	height: 460px;
	margin-bottom: -5px;
}

#signup-form-shadow {

}

#position-row {
	padding-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #fff;

}

#button-row {
	margin-bottom: 0px;

}

#yourId {
	width: 100%;
	height: 150px;
	position:relative; /* or fixed or absolute */
}

.next-button-right {
	float: right;
	background-color: #2a3856;
	border-color: #2a3856;
	border-style: solid;
	color: #fff;
	width: 75%;
	text-align: right;
}


.next-button-left {
	background-color: #2a3856;
	border-color: #2a3856;
	border-style: solid;
	color: #fff;
	width: 75%;
	text-align: left;
	float: left;
	background-color: #888888;
	border-color: #888888;
}

.next-button:hover {
	background-color: #516182;
	border-color: #516182;

}

#position-one {
	background-color: #2a3856;
	color: #fff;
	text-align: center;
	border-style: solid;
	border-width: 1px;
    border-right-color: #fff;
    border-top-color: #2a3856;
    border-left-color: #2a3856;
    border-bottom-color: #2a3856;
    height: 30px;
}

#position-two {
	background-color: #888888;
	color: #fff;
	text-align: center;
	border-style: solid;
	border-width: 1px;
    border-right-color: #fff;
    border-top-color: #888888;
    border-left-color: #888888;
    border-bottom-color: #888888;
    height: 30px;
}

#position-three {
	background-color: #888888;
	color: #fff;
	text-align: center;
	border-style: solid;
	border-width: 1px;
    border-color: #888888;
    height: 30px;
}

#position-done {
	background-color: #2a3856;
	color: #fff;
	text-align: center;
	border-style: solid;
	border-width: 1px;
    border-color: #2a3856;
    height: 30px;
}



/*
 * Globals
 */


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}




/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: center;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:focus {
  text-decoration: none;
  background-color: #516182;
  color: #fff;
}

.nav.navbar-nav > li > a {
  color: #fff;
}

.navbar-default {
	background-color: #2a3856 !important;
	border-color: #2a3856 !important;
}

.username {
	margin-left: 7px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}

.input-group {
	display: table !important;
}

.input-group-addon {
	width: 1% !important;
}

.navbar {
  margin-bottom: 50px;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}

.imgLiquid {
	border-radius: 50%;
	border-color: #2a3856;
	border-color: #2a3856;
	border-width: 2px;
	border-style: solid;
}

#cropped {
	border-radius: 50%;
	border-color: #2a3856;
	border-color: #2a3856;
	border-width: 2px;
	border-style: solid;
}

.name {
	color: #2a3856;
	font-size: 50px;
}

.nickname {
	color: #516182;
	font-style: italic;
	margin-top: 0px;
}

#row_2 {
	margin-top: 10px;
}

#overview-heading {
	background-color: #2a3856;
	color: #fff;
	text-align: center;
	font-variant: small-caps;
	font-size: 15px;
	border-radius: 0px;
	margin-bottom: 5px;
}

.overview-icon {
	background-color: #516182;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	color: #fff;
	display: table-cell;
}

.overview-text {
	display: table-cell;
	padding-left: 15px;
}

#overview-second {
	margin-top: 0px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px 0px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #fff;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	margin-left: 15px;
	 border: 0px solid transparent; 
	 border-radius: 0px; 
	 -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05); 
	 box-shadow: 0 0px 0px rgba(0, 0, 0, .05); 

}

.panel-heading {
	color: #fff;
	background-color: #2a3856;
	padding: 5px 15px;
	border-radius: 0px;
	border-bottom: 0px;
	text-align: center;
	font-variant: small-caps;
}

.employer-heading {
	font-size: 28px;
	margin-top: 10px;
	color: #2a3856;
}

.employer-role {
	color: #516182;
	margin-top: 10px;
}

.employer-location{
	color: #516182;
}

.bio-body {
	font-size: 16px;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: rgb(34, 51, 85);
	color: #fff;
	text-decoration: underline;
}

#facebook-icon {
	font-size: 30px;
	color: #3B5998;
}

#facebook-icon:hover {
	color: #2a3856;
}

#linkedin-icon {
	color: #517fa4;
	font-size: 30px;
}

#linkedin-icon:hover {
	color: #2a3856;
}

#phone-icon {
	font-size: 30px;
	color: #815837;
}

#phone-icon:hover {
	color: #2a3856;
}

#email-icon {
	font-size: 30px;
	color: #727D36;

}

#email-icon:hover {
	color: #2a3856;
}

#overview-icons {
	margin: 5px 0px;
	padding: 0px;
	margin-top: 15px;
}

#overview-icons a:hover {
	background-color: transparent;
}


.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 16px;
  border-bottom: 1px solid #2a3856;
  top: 0;
  width: 52px;
}
.fancy span:before {
  right: 100%;
  margin-right: 10px;
}
.fancy span:after {
  left: 100%;
  margin-left: 10px;
}

.class-name {
	color: #2a3856;
	font-size: 40px;
}

.class-date {
	color: #516182;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 40px;
}

.gallery-name {
	font-size: 20px;
	color: #2a3856;
	text-align: center;
	margin-top: 10px;
}

.gallery-job {
	margin-top: 0px;
	font-size: 15px;
	font-style: italic;
	color: #516182;
	text-align: center;
	margin-bottom: 30px;
}

/*.gallery-name a{
	text-decoration: none;
	color: #2a3856;
}

.gallery-name a:hover {
	background-color: #2a3856;
	color: #fff;
	padding: 5px;
}

.img-circle:hover {
	border-color: #516182;
	border-width: 4px;
	opacity: .5;

}*/

.gallery-hover .img-cicrlce:hover {
	background-color: transparent;
	
}

.hover-highlight:hover .img-circle {
	border-color: #516182;
	border-width: 4px;
	opacity: .5;
}

.hover-highlight .gallery-name a{
	text-decoration: none;
	color: #2a3856;
}

.hover-highlight .gallery-name a:hover {
	background-color: #2a3856;
	color: #fff;
	padding: 5px;
}

.icon-center {
	text-align: center;
	display: block;
	margin-bottom: 30px;
}

.icon-center a:hover{
	background-color: transparent;
}

.ih-item.circle.effect3 .info p {
  color: #fff;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 0px solid rgba(255, 255, 255, 0.5) !important;
}

.first-show {
	padding: 40px 5px 5px 5px;
	display: table;
	width: 110px;
}

.first-show i {
	display: table-cell;
}

.other-show {
	padding: 5px 5px;
	display: table;
	width: 110px;
}

.other-show i {
	display: table-cell;
}

#second-layer {
	margin-top: 70px;
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 1;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #2a3856;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 90px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
	background-color: #888888;
}
/*.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}*/
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.scroll-bottom-wrapper {
    position: fixed;
	opacity: 1;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #2a3856;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.scroll-bottom-wrapper:hover {
	background-color: #888888;
}
/*.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}*/
.scroll-bottom-wrapper i.fa {
	line-height: inherit;
}

.dash-name {
	color: #2a3856;
	font-size: 25px;
	text-align: center;
}

.dashboard-imgLiquid {
	position: relative;

}

.text-overlay {
	position: absolute;
	top: 60px;
	left: 60px;
	background-color: #63214C;
	padding: 10px 30px 10px 10px;
	color: #fff;
}

.numberCircle {
	 border-radius: 50%;
	 behavior: url(PIE.htc);
	 width: 18px;
	 height: 18px;
	 padding: 0px;
	 background: #fff;
	 color: #2a3856;
	 text-align: -webkit-center;
	 font-size: 14px;
	 display: -webkit-inline-box;
	 vertical-align: -webkit-baseline-middle;
}

.numberCircle-other {
	 border-radius: 50%;
	 behavior: url(PIE.htc);
	 width: 18px;
	 height: 18px;
	 padding: 0px;
	 background: #fff;
	 color: #888888;
	 text-align: -webkit-center;
	 font-size: 14px;
	 display: -webkit-inline-box;
	 vertical-align: -webkit-baseline-middle;
}

::-webkit-input-placeholder {
   font-style: italic;
   color: #516182;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
   color: #516182;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
   color: #516182;
}

:-ms-input-placeholder {  
   font-style: italic;
   color: #516182;  
}

.form-control:focus {
border-color: #516182;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(81, 97, 130, .6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(81, 97, 130, .6);
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #223355;
background-color: #fff;
background-image: none;
border: 1px solid #223355;
border-radius: 15px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}

.sidebar {
	left: 100px;
	font-size: 12px;
	color: #2a3856;
	position: fixed;

	
}

.sidebar li {
	padding: 0px 0px;
}

.sidebar a{
	color: #2a3856;
	display: compact !important;
}

.sidebar li.active a, .sidebar li.active a:hover{
        color: #fff;
        font-style: italic;
        background-color: #516182;
        border: 1px solid #516182;
    }